<h2>Available Courses</h2>

<app-course-summary-widget></app-course-summary-widget>

<p *ngIf="isLoading; else coursesLoaded">Loading courses...</p>

<ng-template #coursesLoaded>
  <section class="course-grid" *ngIf="courses.length > 0; else noCourses">
    <app-course-card
      *ngFor="let course of courses; let i = index; trackBy: trackByCourseId"
      appHighlight="lightblue"
      [course]="course"
      (enrollRequested)="onEnroll($event)">
    </app-course-card>
  </section>
</ng-template>

<ng-template #noCourses>
  <p>No courses available.</p>
</ng-template>

<p *ngIf="selectedCourseId">

Selected course ID :

{{selectedCourseId}}

</p>
