.navbar{
    background:#1976d2;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
}

ul{
    list-style:none;
    display:flex;
    gap:25px;
}

a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

a:hover{
    text-decoration:underline;
}